
replicaCount: 1

image:
  repository: shukritech/simple-python-app
  # This sets the pull policy for images.
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: "v1"

imagePullSecrets: []

nameOverride: ""
fullnameOverride: ""

podAnnotations: {}

podLabels: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}

service:
  type: ClusterIP
  port: 5000

ingress:
  enabled: true
  hosts:
    - host: python-app.test.com
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []

resources: {}

volumes: []

volumeMounts: []

nodeSelector: {}

tolerations: []

affinity: {}

autoscaling:
  enabled: false

serviceAccount:
  create: false

httpRoute:
  enabled: false