replicaCount: 1
image:
  repository: shukritech/simple-python-app
  pullPolicy: IfNotPresent
  tag: "dedbdd"
imagePullSecrets: []
nameOverride: ''
fullnameOverride: ''
podAnnotations: {}
podLabels: {}
podSecurityContext: {}
securityContext: {}
service:
  type: ClusterIP
  port: 5000
ingress:
  enabled: true
  hosts:
    - host: python-app.test.com
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []
resources: {}
volumes: []
volumeMounts: []
nodeSelector: {}
tolerations: []
affinity: {}
autoscaling:
  enabled: false
serviceAccount:
  create: false
httpRoute:
  enabled: false
