global:
  domain: argocd.example.com

certificate:
  enabled: false

server:
  replicas: 1
  ingress:
    enabled: true
    tls: false
    hostname: argocd.example.com

redis-ha:
  enabled: false

controller:
  replicas: 1

repoServer:
  replicas: 1

applicationSet:
  replicas: 1

configs:
  params:
      server.insecure: "true"