name: cicd-pipeline

on:
  push:
    paths: 
      - src/**
    branches:
      - main

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v4

      -
        name: Get short SHA
        id: slug
        run: echo "sha_short=$(echo ${{ github.sha }} | cut -c1-6)" >> $GITHUB_OUTPUT

      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      -
        name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: shukritech/simple-python-app:${{ steps.slug.outputs.sha_short }}

  argocd:
    runs-on: local-k8s-runners
    steps:
      -
        name: Argocd login
        run: argocd login argocd.example.com --username admin --password ${{ secrets.ARGOCD_ADMIN_PASSWORD }} \
          --insecure --grpc-web
      -
        name: Sync Application
        run: argocd app sync app --grpc-web